* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }  
body{
    background: #c9e7f0;

}

header{
    display: flex;
    margin-top: 10px;
}

header a{
    color: black;
    font-weight: lighter;
}

.arrows {
    margin-left: 25px;
    margin-top: 10px;
}

.searchbar{
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: none;
    position: relative;
    margin: 0 auto;
}

.searchbar input{
    width: 1145px;
    height: 30px;
    padding: 10px 350px 10px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.searchbar a{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

.searchbar i{
    position: relative;
    top: 0%;
    left: 20px;
}

.right-searchbar{
    margin-right: 5px;
    margin-top: 5px;
}

.image img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 367px;
    margin-top: 95px;
    position: absolute;
    }   

.about p{
    position: absolute;
    bottom: 0;
    padding: 165px 440px;
    font-weight: 150;
    font-size: 40px;
    font-family: sans-serif;
    }

.about span{
    position: absolute;
    bottom: 0;
    padding: 120px 480px;
    font-size: 18px;
    font-family: sans-serif;
    }

.paragraph{
    position: relative;
    padding: 120px 690px;
    display: flex;
    }

.paragraph p{
    font-size: 23px;
    }

footer{
    position: absolute;
    padding: 120px 675px;
    bottom: 0;
    display: flex;
    }

footer a{
    text-decoration: none;
    justify-content: space-between;
    padding: 15px;
    font-size: x-large;
    font-family: sans-serif;
    color: #392c58;
    }

